<h1>About</h1>
<p>Version 1.0.0</p>
<p>Hi, my name is Ross Burton, I built this web application for my friends with Node.js/Express with Google OAuth using Passports and a MongoDB database. I used Handlebars.js for template rendering, and Materialize CSS for styling. This project was completed as part of an online course with Udemy, which can be found <a href="https://www.udemy.com/nodejs-express-mongodb-dev-to-deployment">here.</a> You can also find more about me on my LinkedIn and GitHub pages. 
</p>
<div class="container">
  <a href="https://www.linkedin.com/in/burtonbiomedical/" class="waves-effect waves-light btn"><i class="fa fa-linkedin"></i> LinkedIn</a>
  <a href="https://github.com/burtonbiomedical/" class="waves-effect waves-light btn"><i class="fa fa-github"></i> GitHub</a>
</div>