<h1>Welcome Fellow Weasels <img src="/img/weasel.png"></h1>
<p>Welcome to Stoats and Weasels Storybooks 1.0.0</p>
<p>Lost track of the conversation? Worried you've missed one of Seb's fantastic tales? Don't fret! This is StoryBooks, where you can save and share
  all your exploits, away from the constraints of FB messenger, or the anxiety of sharing a story with someone who isn't a fellow weasel.
</p>
{{#if user}}
{{else}}
  <a href="/auth/google" class="btn red darken-1">Login With Google <i class="fa fa-google left"></i></a>
{{/if}}
